.alert{
    color: red;
}

header{
	background-color: #050c54;
	align-self: auto;
	align-content: flex-start;
	align-items: baseline;
    height: 120px;
    overflow: auto;
    width: 1000px;
}
nav{
	border: solid;
	width: 155px;
	height:750px;
	float:left;
	overflow: auto;
	border-width: 0.5px;
	background-color: grey;
}

nav app-customerslist{
	border-top: solid;
}

section{
	float: left;
	width: 800px;
	margin: 20px;
	overflow: auto;
}

app-users{
	float:right;
	width: 15%;
	height: 85px;	
	align-self: last;
	overflow: auto;	
}

app-customers{
	float:left;
	margin-top: 80px;
	overflow: auto;
	height:40px;
	
}

.portalhead{
	width: 1000px;
	height: 120px;
  	margin: 0 auto;
  	overflow: auto;
  	border: solid;
  	border-width: 1px;
  	border-color: #050c54;
  	padding: 5px;
}

.portalbody{
	width: 1000px;
  	margin: 0 auto;
  	overflow: auto;
  	border: solid;
  	border-width: 1px;
  	border-color: #050c54;
  	padding: 5px;
}

footer{
	clear: both;
	margin: 0 auto;
	text-align: center;
	overflow: auto;
	width: 1000px;
}