header{
	background-color: #050c54;
	align-self: auto;
	align-content: flex-start;
	align-items: baseline;
    height: 120px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 10px;

}
aside{
	border: solid;
	width: 150px;
	height:500px;
	float:left;
}

section{
	float: left;
	width: 500px;
	margin: 20px;
}

app-users{
	float:right;
	width: 130px;
	height: 85px;	
	align-self: last;	
}

app-customers{
	float:left;
	margin-top: 80px;
	
}

footer{
	clear: both;
	text-align: center;
}